@model IEnumerable<NotePlot.Models.ParamValueType>
@{
    string atr_checked = "checked";
}
<div style="max-width:800px;min-width:650px">
<table id="paramValueType" class="table" style="width:100%">
    <thead>
        <tr>
            <th hidden></th>
            @*<th></th>*@
            <th style="text-align:center">Код</th>
            <th style="min-width:100px">Наименование</th>
            @*<th>Число</th>*@
            <th style="text-align:center">Знаков после запятой</th>
            <th style="text-align:center">Количество символов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden>@item.ParamValueTypeID</td>
      @*<td>
            <div class="npRowTools" style="display:none">
                <a href="@Url.Action("Edit", "ListDialog" , new { id=item.ParamValueTypeID })" class="npRowEdit np_button" np_dialog_title="Тип значения">
                    <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                </a>
                <a href="@Url.Action("Delete", "ParamValueType", new { id = item.ParamValueTypeID })" class="npRowDelete np_button" data-deleted-name="@item.ParamValueTypeShortName">
                    <div class="icon"><i class="fa fa-times"></i></div>
                </a>
            </div>
        </td>*@
            <td style="text-align:center">@item.ParamValueTypeCode</td>
            <td>@item.ParamValueTypeShortName</td>
            @*<td><input disabled type="checkbox" id="ParameterActive" name="ParameterActive" value="@item.IsNumeric" @if (@item.IsNumeric) { @atr_checked } /></td>*@
            <td style="text-align:center">@item.Scale</td>
            <td style="text-align:center">@item.Precision</td>
        </tr>
        }
    </tbody>
</table>
</div>
@section scripts {
    <script type="text/javascript">
        //$(document).ready(function () {
            $("#paramValueType").DataTable({
                "autoWidth": false,
                "columns": [
                    { "visible": false },
                    { "width": "30" },
                    null,
                    { "width": "10em" },
                    { "width": "10em" }
                ],
                "language": dtLanguage
            });
        //});
    </script>
}