@model bool

<div id="menuMonitor">
@if (Model) {
    <ul class="navigation">
        <li>
            <a class="button no-href">
                <div class="icon"><span class="fa fa-sliders-h"></span></div>
                <div class="name">Измерения</div>
            </a>
            <ul class="navigation">
                @*<li controller-name="Monitor, Monitoring" action-name="Monitor*">@Html.ActionLink("Мониторы измерений", "MonitorList", "Monitor")</li>*@
                <li controller-name="Monitor, Monitoring" action-name="Monitor*">
                    <a href="/Monitor/MonitorList" class="button">
                        <div class="icon"><i class="fa fa-thermometer-half"></i></div>
                        <div class="name">Мониторы измерений</div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="button no-href">
                <div class="icon"><span class="fa fa-cog"></span></div>
                <div class="name">Справочники</div>
            </a>
            <ul class="navigation">
                @*<li controller-name="Parameter" action-name="Packet*">@Html.ActionLink("Пакеты параметров", "PacketList", "Parameter")</li>*@
                <li controller-name="Parameter" action-name="Packet*">
                    <a href="/Parameter/PacketList" class="button">
                        <div class="icon"><i class="fa fa-list-alt"></i></div>
                        <div class="name">Пакеты параметров</div>
                    </a>
                </li>
                @*<li controller-name="Parameter" action-name="Parameter*">@Html.ActionLink("Параметры измерений", "ParameterList", "Parameter")</li>*@
                <li controller-name="Parameter" action-name="Parameter*">
                    <a href="/Parameter/ParameterList" class="button">
                        <div class="icon"><i class="fa fa-list"></i></div>
                        <div class="name">Параметры измерений</div>
                    </a>
                </li>
                @*<li controller-name="ParameterGroup" action-name="*">@Html.ActionLink("Группы параметров", "List", "ParameterGroup")</li>*@
                <li controller-name="ParameterGroup" action-name="*">
                    <a href="/Parameter/ParameterList" class="button">
                        <div class="icon"><i class="fa fa-th-large"></i></div>
                        <div class="name">Группы параметров</div>
                    </a>
                </li>
                @*<li controller-name="Unit" action-name="Unit*">@Html.ActionLink("Ед.измерения", "UnitList", "Unit")</li>*@
                <li controller-name="Unit" action-name="Unit*">
                    <a href="/Unit/UnitList" class="button">
                        <div class="icon"><i class="fa fa-th-list"></i></div>
                        <div class="name">Ед.измерения</div>
                    </a>
                </li>
                @*<li controller-name="UnitCategory" action-name="UnitCategory*">@Html.ActionLink("Группы ед.измерения", "UnitCategoryList", "UnitCategory")</li>*@
                <li controller-name="UnitCategory" action-name="UnitCategory*">
                    <a href="/UnitCategory/UnitCategoryList" class="button">
                        <div class="icon"><i class="fa fa-th"></i></div>
                        <div class="name">Группы ед.измерения</div>
                    </a>
                </li>
                @*<li controller-name="ParamValueType" action-name="*">@Html.ActionLink("Типы значений", "Index", "ParamValueType")</li>*@
                <li controller-name="ParamValueType" action-name="*">
                    <a href="/ParamValueType/ParamValueTypeList" class="button">
                        <div class="icon"><i class="fa fa-list-ol"></i></div>
                        <div class="name">Типы значений</div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="button no-href">
                <div class="icon"><i class="fa fa-chart-area"></i></div>
                <div class="name">Аналитика</div>
            </a>
            <ul class="navigation">
                @*<li controller-name="Analytics" action-name="ReportMonitor">@Html.ActionLink("Измерения по монитору", "ReportMonitor", "Analytics")</li>*@
                <li controller-name="Analytics" action-name="ReportMonitor">
                    <a href="/Analytics/ReportMonitor" class="button">
                        <div class="icon"><i class="fa fa-table"></i></div>
                        <div class="name">Измерения по монитору</div>
                    </a>
                </li>
                @*<li controller-name="Analytics" action-name="ReportPlot">@Html.ActionLink("Динамика изменений параметров", "ReportPlot", "Analytics")</li>*@
                <li controller-name="Analytics" action-name="ReportPlot">
                    <a href="/Analytics/ReportPlot" class="button">
                        <div class="icon"><i class="fa fa-chart-line"></i></div>
                        <div class="name">Динамика изменений параметров</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
} 
</div>
