@model bool

<div id="menuMonitor">
@if (Model) {
    <ul class="navigation">
        <li>
            <a href="#" class="button">
                <div class="icon"><span class="ico-home"></span></div>
                <div class="name">Монитор</div>
            </a>
            <ul>
                <li><a href="#">Новый</a></li>
                <li><a href="#">Открыть</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="button">
                <div class="icon"><span class="ico-home"></span></div>
                <div class="name">Справочники</div>
            </a>
            <ul>
                @*<li><a href="#">Параметры измерения</a></li>*@
                <li>@Html.ActionLink("Параметры измерения", "ParameterList", "Parameter")</li>
                <li>@Html.ActionLink("Пакеты параметров", "PacketList", "Parameter")</li>
                @*<li>@Html.ActionLink("Новый параметр", "New", "Parameter")</li>*@
                <li>@Html.ActionLink("Группы параметров", "List", "ParameterGroup")</li>
                <li><a href="#">Единицы измерения</a></li>
                <li>@Html.ActionLink("Группы ед.измерения", "Index", "UnitCategory")</li>
                <li>@Html.ActionLink("Типы значений", "Index", "ParamValueType")</li>
            </ul>
        </li>
        <li>
            <a href="#" class="button">
                <div class="icon"><span class="ico-home"></span></div>
                <div class="name">Аналитика</div>
            </a>
        </li>
    </ul>
} 
</div>
