@model IEnumerable<NotePlot.Models.Packet>

@{
    string atr_checked = "checked";
    ViewData["Title"] = "PacketList";
}

@*<h2>Пакеты параметров</h2>*@

<div class="np_toolbar">
    <a href="@Url.Action("PacketNew", "Parameter")" class="ui-button ui-corner-all" title="Новый пакет">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="packetList">
    <thead>
        <tr>
            <th hidden></th>
            <th></th>
            <th>Краткое наименование</th>
            <th>Полное наименование</th>
            <th>Доступен</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>@item.PacketID</td>
                <td>
                    <a href="@Url.Action("PacketEdit", "Parameter" , new { id=item.PacketID })" class="np_button">
                        <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                    </a>
                    @if (item.LoginID != 0)
                    {
                        <a href="@Url.Action("PacketDelete", "Parameter", new { id = item.PacketID })" class="np_deletePacket np_button">
                            <div class="icon"><i class="fa fa-times"></i></div>
                        </a>
                    }
                </td>
                <td>@item.PacketShortName</td>
                <td>@item.PacketName</td>
                <td><input disabled type="checkbox" id="PacketActive" name="PacketActive" value="@item.Active" @if (@item.Active) { @atr_checked } /></td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {            
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            // привязываем событие к Post Request
            adata.onSuccess = function () {
                //location.reload();
                window.location.replace("/Parameter/PacketList"); // Перенаправление на список + не сохраняем историю
            }
            //adata.dialogTitle = 'Внимание!';
            adata.dialogMessage = 'Вы действительно хотите удалить пакет?';
            $(".np_deletePacket").bind("click", adata, np_MessageDialogPost);
            $("#packetList").DataTable({
                "autoWidth": false,
                "columns": [
                    { "width": "0" },
                    { "width": "100px" },
                    { "width": "300px" }
                ], "language": dtLanguage
            });
        });
    </script>
}