@model IEnumerable<NotePlot.Models.Packet>

@{
    ViewData["Title"] = "PacketList";   
}

<h2>Пакеты параметров</h2>

<div class="np_toolbar">
    <a href="@Url.Action("PacketNew", "Parameter")" class="np_button green">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="packetList">
    <thead>
        <tr>
            <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.PacketID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PacketShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PacketName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Url.Action("PacketEdit", "Parameter" , new { id=item.PacketID })" class="np_button">
                    <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                </a>
                <a href="@Url.Action("PacketDelete", "Parameter", new { id = item.PacketID })" class="np_deletePacket np_button">
                    <div class="icon"><i class="fa fa-times"></i></div>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#packetList").DataTable();
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            // привязываем событие к Post Request
            adata.onSuccess = function () {
                //location.reload();
                window.location.replace("/Parameter/PacketList"); // Перенаправление на список + не сохраняем историю
            }
            //adata.dialogTitle = 'Внимание!';
            adata.dialogMessage = 'Вы действительно хотите удалить пакет?';
            $(".np_deletePacket").bind("click", adata, np_MessageDialogPost);                                
        });
    </script>
}