@model NotePlot.Models.Packet

@{
    string atr_checked = "checked", atr_disabled = "disabled";
}

@*для добавляемых параметров*@
@section styles{
    <style>
        #packetParameters .np_selected {
            background: #F39814;
            color: white;
        }

        #packetParameters tr {
            background: #DEE3E7;
        }

        #packetParameters th {
            background: #EEC3C7;
            /*border: 1px solid black;*/
        }
    </style>
}
<p class="np-href">
    <a id="np_PacketList" href="@Url.Action("PacketList", "Parameter")">Пакеты параметров</a> -> @if (Model.PacketID == null)
    {<a id="np_CurrentPacket" href="@Url.Action("PacketNew", "Parameter" , new { id=Model.PacketID })">Новый пакет</a>}
    else
    {<a id="np_CurrentPacket" href="@Url.Action("PacketEdit", "Parameter" , new { id=Model.PacketID })">Текущий пакет</a>}
</p>
<div class="np-tool-bar">
    @if (Model.LoginID != 0)
    {

        <button id="btnPacketSave" class="ui-button ui-corner-all" @atr_disabled>Сохранить</button>
        <button id="btnPacketCancel" class="ui-button ui-corner-all" @atr_disabled>Отменить</button>
    }
    <button id="btnReturnPacketList" class="ui-button ui-corner-all">Пакеты параметров</button>
    @if (Model.PacketID != null)
    {
        <a href="@Url.Action("PacketNew", "Parameter")" class="ui-button ui-corner-all" title="Новый пакет">
            <div class="icon"><i class="fa fa-plus"></i></div>
        </a>
    }

</div>
<form id="np_packet_edit" method="POST" action=@ViewBag.Action>
    @Html.AntiForgeryToken()
    @*@if (Model.LoginID != 0)
    {
        <input type="submit" value="Записать" id="np_parameter_save" @if (Model.LoginID == 0) { @atr_disabled } />
    }*@
    <div class="np-inputForm">
        <fieldset>
            <legend>Пакет</legend>
                <input type="hidden" id="PacketID" name="PacketID" value="@Model.PacketID" />
                <input type="hidden" id="ParameterGroupID" name="ParameterGroupID" value="@Model.ParameterGroupID" />
                <input type="hidden" id="LoginID" name="LoginID" value="@Model.LoginID" />
                <div class="np-clearfix">
                    <div class = "np-column-left np-column-1 np-clearfix">
                        <button type="button" class="openDialog ui-button ui-corner-all" href="/ParameterGroup/ListDialog" np_dialog_title="Выбор группы" np_dialog_width="500px" @if (Model.LoginID == 0) { @atr_disabled }>Группа</button>
                    </div>
                    <input type="text" readonly id="ParameterGroupShortName" name="ParameterGroupShortName" class = "np-column-left np-short-name np-ui-input" value="@Model.ParameterGroupShortName" @if (Model.LoginID == 0) { @atr_disabled }>
                </div>
                <div class="np-clearfix">
                    <label for="PacketShortName" class="np-column-left np-column-1 np-ui-input">Краткое наименование</label>
                    <input type="text" id="PacketShortName" name="PacketShortName" class = "np-column-left np-short-name np-ui-input" maxlength="24" value="@Model.PacketShortName" @if (Model.LoginID == 0) { @atr_disabled } />
                </div>
                <div class="np-clearfix">
                    <label for="PacketName" class="np-column-left np-column-1 np-ui-input">Полное наименование</label>
                    @*<input type="text" id="PacketName" name="PacketName" placeholder="Название" maxlength="48" value="@Model.PacketName" @if (Model.LoginID == 0) { @atr_disabled } />*@
                    <textarea class="np-column-left np-short-name np-ui-input" id="PacketName" name="PacketName" maxlength=48 value="@Model.PacketName" @if (Model.LoginID == 0) { @atr_disabled }>@Model.PacketName</textarea>
                </div>
                @if (Model.PacketID != null)
                {
                    <div class="np-clearfix">
                        <label for="Active" class = "np-column-left np-column-1 np-ui-input">Доступен</label>
                        <input class="np-column-left np-ui-input" type="checkbox" id="Active" name="Active" value="@Model.Active" @if (@Model.Active) { @atr_checked } @if (Model.LoginID == 0) { @atr_disabled } />
                    </div>
                }
                else
                {
                    <div class="np-clearfix">
                        <input class="np-column-left np-ui-input" type="checkbox" id="Active" name="Active" value="1" hidden checked />
                    </div>
                }
        </fieldset>
    </div>
    <div id="packetParametersPanel">
        @await Component.InvokeAsync("PacketParams", new { PacketID = @Model.PacketID, LoginID = @Model.LoginID })
    </div>
</form>
@section scripts{
    <script type="text/javascript">
        $(function () {
            var wrapper = $(".lookupField"),
                inp = wrapper.find("input"),
                btn = wrapper.find(".button"),
                lbl = wrapper.find("mark");

            // Crutches for the :focus style:
            inp.focus(function () {
                wrapper.addClass("focus");
            }).blur(function () {
                wrapper.removeClass("focus");
            });

            var file_api = (window.File && window.FileReader && window.FileList && window.Blob) ? true : false;

            inp.change(function () {
                var i = 0;
            }).change();

            $(document).ready(function () { fix(); });
            $(window).resize(function () {
                fix();
                $(".lookupField input").triggerHandler("change");
            });

            //=================================
            // класс для добавления параметров
            np_insertRow = new np_InsertRow(
                "#packetParameters",
                "<tr class='np_enabled'>" +
                "<td hidden><input type='text' id='ParameterID' name='ParameterID' value='{ParameterID}'/></td>" +
                "<td>{ParameterShortName}</td>" +
                "<td><input type='checkbox' id='PacketParameterActive' name='PacketParameterActive' value='1' checked /></td></tr > ",
                ["ParameterID", "ParameterShortName"]
            )
            // события при записи
            var adata = new Object();
            adata.onSuccess = function () {
                //location.reload();
                window.location.replace("/Parameter/PacketList"); // Перенаправление на список параметров + не сохраняем историю
            }
            //adata.lName = 'ParameterRelations'; - это уже не нужно
            $("#np_packet_edit input[type=text],input[type=checkbox],textarea").on('input change keypress', function (e) {
                /*
                if ($('#btnPacketSave').attr('disabled')) {
                    $('#btnPacketSave').removeAttr('disabled');
                }
                if ($('#btnPacketCancel').attr('disabled')) {
                    $('#btnPacketCancel').removeAttr('disabled');
                }
                */
                refreshPage();
            });
            $('#btnPacketSave').on('click', function (e) {
                e.preventDefault();
                np_AjaxFormInputClick(); // очистка ошибок
                if ($('#np_packet_edit').valid())
                    $('#np_packet_edit').submit();
            });

            $('#btnPacketCancel').on('click', function (e) {
                np_LoaderShow();
                document.getElementById("np_CurrentPacket").click()
                //location.reload();
            });

            $('#btnReturnPacketList').on('click', function (e) {
                np_LoaderShow();
                document.getElementById("np_PacketList").click()
            });

            $("#np_packet_edit").bind('submit', adata, np_AjaxFormSubmitEx);
            // очистка сообщений об ошибках по клику
            $("#np_packet_edit").bind('click', np_AjaxFormInputClick);
            $("#np_packet_edit")
                .validate({
                    rules: {
                        ParameterGroupShortName: {
                            required: true
                        },
                        PacketShortName: {
                            required: true,
                            minlength: 2
                        },
                        PacketName: {
                            required: true
                        }
                    },
                    messages: {
                        ParameterGroupShortName: {
                            required: "поле не заполнено или заполнено не верно",
                        },
                        ParameterShortName: {
                            required: "поле не заполнено или заполнено не верно",
                            minlength: "в поле должно быть минимум 2 символа",
                        },
                        ParameterName: {
                            required: "поле не заполнено или заполнено не верно",
                            minlength: "в поле должно быть минимум 2 символа",
                        }
                    }
                });
        });

        function refreshPage() {
            if ($('#btnPacketSave').attr('disabled')) {
                $('#btnPacketSave').removeAttr('disabled');
            }
            if ($('#btnPacketCancel').attr('disabled')) {
                $('#btnPacketCancel').removeAttr('disabled');
            }
        }
        
    </script>
}

