@model IEnumerable<NotePlot.Models.Packet>

@{
    string ParameterType = "Пакет";
}
<table class="table" id="packetListDialog" width="100%">
    <thead>
        <tr>
            <th>Группа</th>
            <th>Пакет параметров</th>
            <th>Тип</th>
            <th hidden>PacketID</th>
            <th hidden>LoginID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ParameterGroupShortName</td>
                <td class="ParameterShortName">@item.PacketShortName</td>
                <td class="ParameterTypeName">@ParameterType</td>
                <td hidden class="ParameterID">@item.PacketID</td>
                <td hidden>@item.LoginID</td>
            </tr>
        }
    </tbody>
</table>
<button class="np_select">выбрать</button>
<script type="text/javascript">
$("#packetListDialog").DataTable();
//    { // это hidden !!! для hidden всегда нужно table width=100% в противном случае, не удаляет место
// при переключении страниц + сортировка + фильтр сбрасываем selected
$('#packetListDialog').on('page.dt order.dt search.dt', function () {
    $('#packetListDialog tbody tr.selected').removeClass('selected');
});

$('#packetListDialog tbody').on('click', 'tr', function () {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    }
    else {
        $('#packetListDialog tbody tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
});

//кнопка выбора группы
$("button.np_select").on('click', function () {
    if ($('#packetListDialog tbody tr').hasClass('selected')) {
        if (np_insertRow) {
            var template = np_insertRow.rowTemplate;
            var value;
            var $tr_sel = $('#packetListDialog tbody tr.selected'); //selected row
            for (var i in np_insertRow.fields) {
                var name = np_insertRow.fields[i];
                value = $tr_sel.find('.' + name).text();
                name = '{' + np_insertRow.fields[i] + '}';
                template = template.replace(name, value);
            }

            if ($(np_insertRow.tableId + ' tbody tr').length == 0) {
                $(np_insertRow.tableId + ' tbody').html(template);
            }
            else {
                $(np_insertRow.tableId + ' tbody tr:last').after(template);
            }
        }
        // определяем контейнер диалога
        var _md = $('#packetListDialog').parentsUntil('.dialog').parent('.dialog').first().attr('id');
        if (_md != undefined) {
            $('#' + _md).dialog("close");
        }
    }
})
</script>
