@model IEnumerable<NotePlot.Models.Parameter>

<div class="np_toolbar">
    <a href="@Url.Action("New", "Parameter")" class="np_button green">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="parameterList">
    <thead>
        <tr>
            <th hidden>ParameterID)</th>
            <th></th>
            <th>Группа</th>
            <th>Краткое название</th>
            <th>Полное название</th>
            <th>Ед.изм.</th>
            <th>Тип параметра</th>
            <th>Тип значения</th>
            <th>Мин.значение</th>
            <th>Макс.значение</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>@item.ParameterID</td>
            <td style="display:block">
                <a href="@Url.Action("Edit", "Parameter" , new { id=item.ParameterID })" class="np_button">
                    <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                </a>
                @if (item.LoginID != 0)
        {
            <a href="@Url.Action("Delete", "Parameter", new { id = item.ParameterID })" class="np_deleteParameter np_button">
                <div class="icon"><i class="fa fa-times"></i></div>
            </a>
}
            </td>
            <td>@item.ParameterGroupShortName</td>
            <td>@item.ParameterShortName</td>
            <td>@item.ParameterName</td>
            <td>@item.ParameterUnitShortName</td>
            <td>@item.ParameterTypeName</td>
            <td>@item.ParameterValueTypeShortName</td>
            <td>@item.ParameterValueMin</td>
            <td>@item.ParameterValueMax</td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#parameterList").DataTable();
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            // привязываем событие к Post Request
            $(".np_deleteParameter").bind("click", adata, np_AjaxPost);
        });
    </script>
}