@model IEnumerable<NotePlot.Models.Parameter>

<div class="np_toolbar">
    <a href="@Url.Action("New", "Parameter")" class="np_button green">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="parameterList">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.ParameterID)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterGroupShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterUnitShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterValueTypeShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterValueMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParameterValueMin)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden>
                @Html.DisplayFor(modelItem => item.ParameterID)
            </td>
            <td style="display:block">
                <a href="@Url.Action("Edit", "Parameter" , new { id=item.ParameterID })" class="np_button">
                    <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                </a>
                <a href="@Url.Action("Delete", "Parameter", new { id = item.ParameterID })" class="np_deleteParameter np_button">
                    <div class="icon"><i class="fa fa-times"></i></div>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterGroupShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterUnitShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterValueTypeShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterValueMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterValueMin)
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#parameterList").DataTable();
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            // привязываем событие к Post Request
            $(".np_deleteParameter").bind("click", adata, np_AjaxPost);
        });
    </script>
}