@model IEnumerable<NotePlot.Models.Parameter>

@{
    string atr_checked = "checked";
}

<div class="np_toolbar">
    <a href="@Url.Action("ParameterNew", "Parameter")" class="ui-button ui-corner-all" title="Новый параметр">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="parameterList">
    <thead>
        <tr>
            <th></th>
            <th>Группа</th>
            <th>Краткое наименование</th>
            <th>Полное наименование</th>
            <th>Ед.изм.</th>
            <th>Тип параметра</th>
            <th>Тип значения</th>
            <th>Мин.значение</th>
            <th>Макс.значение</th>
            <th>Доступен</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:block">
                    <a href="@Url.Action("ParameterEdit", "Parameter" , new { id=item.ParameterID })" class="np_button">
                        <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                    </a>
                    @if (item.LoginID != 0)
                    {
                        <a href="@Url.Action("ParameterDelete", "Parameter", new { id = item.ParameterID })" class="np_deleteParameter np_button">
                            <div class="icon"><i class="fa fa-times"></i></div>
                        </a>
                    }
                </td>
                <td>@item.ParameterGroupShortName</td>
                <td>@item.ParameterShortName</td>
                <td>@item.ParameterName</td>
                <td>@item.ParameterUnitShortName</td>
                <td>@item.ParameterTypeName</td>
                <td>@item.ParameterValueTypeShortName</td>
                <td>@item.ParameterValueMin</td>
                <td>@item.ParameterValueMax</td>
                <td><input disabled type="checkbox" id="ParameterActive" name="ParameterActive" value="@item.Active" @if (@item.Active) { @atr_checked } /></td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            // привязываем событие к Post Request
            //$(".np_deleteParameter").bind("click", adata, np_AjaxPost);
            adata.onSuccess = function () {
                //location.reload();
                window.location.replace("/Parameter/ParameterList"); // Перенаправление на список + не сохраняем историю
            }
            adata.dialogMessage = 'Вы действительно хотите удалить параметр?';
            $(".np_deleteParameter").bind("click", adata, np_MessageDialogPost);
            $("#parameterList").removeAttr("width").DataTable({
                language: dtLanguage,
                columns: [
                    { width: "200px", orderable: false },
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });
        });
    </script>
}