@model IEnumerable<NotePlot.Models.PacketParameter>
@{
    string atr_checked = "checked", atr_disabled = "disabled";
}

@if (@ViewBag.LoginID != 0)
{
    <div class="np-tool-bar">
        <a id="np_packet_param_add" href="/Parameter/MeasureParameterListDialog/0" np_dialog_title="Параметры" np_dialog_width="800px"><button class='ui-button ui-corner-all'>Добавить параметр</button></a>
        <a id="np_packet_param_del" href=""><button class='ui-button ui-corner-all np-btn-selected-row' @atr_disabled>Удалить параметр</button></a>
    
        <button class='np_btn_up ui-button ui-corner-all np-btn-selected-row' @atr_disabled>Вверх</button>
        <button class='np_btn_down ui-button ui-corner-all np-btn-selected-row' @atr_disabled>Вниз</button>
    </div>
}

<table id="packetParameters" class="table">
    <thead>
        <tr>
            <th hidden>ParameterID</th>
            <th>Параметр</th>
            <th>Доступен</th>
        </tr>
    </thead>
    <tbody  @if (@ViewBag.LoginID > 0) { @:class="np_enabled"
     }>
        @foreach (var item in Model)
        {
            <tr @if (@ViewBag.LoginID > 0) { 
                @:class="np_enabled"
            } >
                <td hidden><input type="text" id="ParameterID" name="ParameterID" value="@item.ParameterID" /></td>
                <td>@item.ParameterShortName</td>
                <td><input type="checkbox" id="PacketParameterActive" name="PacketParameterActive" value="@item.PacketParameterActive" @if (@item.PacketParameterActive) { @atr_checked   } @if (@ViewBag.LoginID == 0) { @atr_disabled } /></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {        
        $('#np_packet_param_add').on('click', function (e) {
            e.preventDefault();
            OpenDialog(this);
        });

        $('#np_packet_param_del').on('click', function (e) {
            e.preventDefault();
            var r = $('#packetParameters tbody tr.np_selected');
            if (r.length > 0) {
                r.remove();
                if (refreshPage) {
                    refreshPage();
                }
            }
        });

        // Отбор и сортировка строк
        $("#packetParameters tbody").on('click', 'tr.np_enabled', function (e, d) {
            if ($(this).hasClass("np_selected")) {
                // если d.drag != "1" тогда снимаем выделение
                if ((d == undefined) || (d.drag == undefined) || (d.drag != "1")) {
                    $(this).removeClass("np_selected");
                    disableButtons();
                }
            }
            else {
                $("#packetParameters tbody tr").not(this).removeClass("np_selected");
                $(this).addClass("np_selected");
                enableButtons();
            }
        });

        //Плагин UI Sortable
        $("#packetParameters tbody.np_enabled").sortable(
            {
                //helper: fixHelper
                helper: function (e, tr) {
                    tr.children().each(function () {
                        $(this).width($(this).width());
                    });
                    return tr;
                },
                change: function (event, ui) {
                    if (refreshPage) {
                        refreshPage();
                    }
                }
            },
            { axis: "y" },
            { start: function (e, tr) { tr.item.trigger('click', { drag: "1" }) } } // выделять при начале перетаскивания
        );

        $(".np_btn_up").on('click', function (e) {
            e.preventDefault();
            if ($("#packetParameters tbody tr.np_selected").prev().length > 0) {
                $("#packetParameters tbody tr.np_selected").after($("#packetParameters tbody tr.np_selected").prev());
                if (refreshPage) {
                    refreshPage();
                }
            }
        });

        $(".np_btn_down").on('click', function (e) {
            e.preventDefault();
            if ($("#packetParameters tbody tr.np_selected").next().length > 0) { 
                $("#packetParameters tbody tr.np_selected").before($("#packetParameters tbody tr.np_selected").next());
                if (refreshPage) {
                    refreshPage();
                }
            }
        });
    });

    function enableButtons() {
        $('.np-btn-selected-row').each(function () {
            if ($(this).attr('disabled')) {
                $(this).removeAttr('disabled');
            }
        });
    }

    function disableButtons() {
        $('.np-btn-selected-row').each(function () {
            if (!$(this).attr('disabled')) {
                $(this).attr('disabled','disabled');
            }
        });
    }

/*
    //для плагина DataTable
       $("#packetParameters").DataTable({
            "paging": false,
            "ordering": false,
            "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }, //убрать сообщение о пусто таблице
            "sDom": ''  // поиск
        });

        $('#packetParameters').on('page.dt order.dt search.dt', function () {
            $('#packetParameters tbody tr.selected').removeClass('selected');
        });

        $('#packetParameters tbody').on('click', 'tr', function (e,d) {
            if ($(this).hasClass('selected')) {
                if ((d == undefined) || (d.drag == undefined) || (d.drag != "1"))
                $(this).removeClass('selected');
            }
            else {
                $("#packetParameters tbody tr").removeClass('selected');
                $(this).addClass('selected');
            }
        });
*/
/*
       //для плагина DataTable
        $(".np_btn_up").on('click', function (e) {
            e.preventDefault();
            $("#packetParameters tbody tr.selected").after($("#packetParameters tbody tr.selected").prev());            
        });

        $(".np_btn_down").on('click', function (e) {
            e.preventDefault();
            $("#packetParameters tbody tr.selected").before($("#packetParameters tbody tr.selected").next());
        });
 */
</script>


