@model IEnumerable<NotePlot.Models.PacketParameter>
@{
    string atr_checked = "checked", atr_disabled = "disabled";
}

@if (@ViewBag.LoginID != 0)
{
    <a id="np_packet_param_add" href="/Parameter/ParameterListDialog/0" np_dialog_title="Параметры" np_dialog_width="800px">Добавить параметр</a>
    <a id="np_packet_param_del" href="">Удалить параметр</a>
}

<table id="packetParameters" class="table">
    <thead>
        <tr>
            <th hidden>ParameterID</th>
            <th>Параметр</th>
            <th>Доступен</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden><input type="text" id="ParameterID" name="ParameterID" value="@item.ParameterID" /></td>
                <td>@item.ParameterShortName</td>
                <td><input type="checkbox" id="PacketParameterActive" name="PacketParameterActive" value="@item.PacketParameterActive" @if (@item.PacketParameterActive) { @atr_checked   } @if (@item.LoginID == 0) { @atr_disabled } /></td>                
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    /*
    $("#parameterRelations").DataTable({
        "paging": false,
        "ordering": false,
        "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }, //убрать сообщение о пусто таблице
        "sDom": ''  // поиск
    });
    $('#parameterRelations').on('page.dt order.dt search.dt', function () {
        $('#parameterRelations tbody tr.selected').removeClass('selected');
    });

    //$('#parameterGroups tbody tr').on('click', function () {
    $('#parameterRelations tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#parameterRelations tbody tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
    */
    $('#np_packet_param_add').on('click', function (e) {
        e.preventDefault();
        OpenDialog(this);
    });

    $('#np_packet_param_del').on('click', function (e) {
        e.preventDefault();
        $('packetParameters tbody tr.selected').remove();
    });
</script>


