@model IEnumerable<NotePlot.Models.Monitoring>

@{
    Layout = null;
}

<div>
    <table class="table" id="monitorMonitoringList">
        <thead>
            <tr>
                <th></th>
                <th>Дата измерения</th>
                <th>Комментарий</th>
                <th>Дата создания UTC</th>
                <th>Дата изменения UTC</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="@item.MonitoringID">
                <td>
                    <a href="@Url.Action("MonitoringEdit", "Monitoring" , new { id=item.MonitoringID })" class="np_button">
                        <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                    </a>
                    <a href="@Url.Action("MonitoringDelete", "Monitoring", new { id = item.MonitoringID })" class="np_deleteMonitoring np_button">
                        <div class="icon"><i class="fa fa-times"></i></div>
                    </a>
                </td>
                <td>@item.MonitoringDate</td>
                <td>@item.MonitoringComment</td>
                <td>@item.CreationDateUTC</td>
                <td>@item.ModifiedDateUTC</td>
            </tr>
            }
        </tbody>
    </table>
</div>
    <script type="text/javascript">
        $("#monitorMonitoringList").DataTable();
        $(document).ready(function () {
            $('#monitorMonitoringList').on('page.dt order.dt search.dt', function () {
                $('#monitorMonitoringList tbody tr.selected').removeClass('selected');
            });

            $('#monitorMonitoringList tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    $('#monitorMonitoringList tbody tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
                
            var adata = new Object();
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            adata.token = $("[name='__RequestVerificationToken']").val();
            adata.onSuccess = function (event) {
                //location.reload();
                //window.location.replace("/Monitoring/MonitoringList"); // Перенаправление на список + не сохраняем историю
                // удаление из списка на странице
                var obj = $('#monitorMonitoringList tbody tr.selected');                
                if (obj == undefined) { // без использования класса .selected
                    var el = '#monitorMonitoringList tbody tr:has([data-monitoring="' + event.data.MonitoringID + '"])';
                    obj = $(el);
                }
                obj.remove();
                //$('#monitorMonitoringList tbody tr.selected').remove();
            }
            adata.dialogTitle = 'Внимание!!';
            adata.dialogMessage = 'Вы действительно хотите удалить измерение?';

            // привязываем событие к Post Request с диалогом подтверждения
            //$(".np_deleteMonitoring").bind("click", adata, np_MessageDialogPost); // без np_DeletePost , если используется .selected !!!
            $(".np_deleteMonitoring").bind("click", adata, np_DeletePost);
        });
        // ф-ция для фиксации event.data.MonirtoringID через событие, если не будет использован класс .selected
        function np_DeletePost(event) {
            event.data.MonitoringID = $(this).attr("data-monitoring");
            event.data.action = $(this).attr("href");
            np_MessageDialogPost(event);
        }
    </script>
