@model IEnumerable<NotePlot.Models.Monitoring>

@{
    Layout = null;
}

<div>
    <table class="table" id="monitorMonitoringList">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitoringID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitorID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitoringDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitoringComment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MonitorShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDateUTC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDateUTC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JSON)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitoringID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitoringDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitoringComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDateUTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDateUTC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JSON)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
