@model IEnumerable<NPTest1.Models.Test_Parameter>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Монитор параметров</title>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <style type="text/css">
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
            }
            [name="ParameterValue"] {
                color: red;
                font-weight: bold;
            }
           }
        </style>        
    </head>
    <body>
        <h3>Параметры</h3>
        <table>
            <tr>
                <td>Параметр</td>
                <td>Значение</td>
                <td>Точность</td>
                <td>Знаков после запятой</td>
                <td>Может быть отрицательным</td>
                <td></td>
            </tr>
            @foreach (var parameter in Model)
                {
                <tr id="@parameter.ParameterID">
                    <td name ="ParameterName">@parameter.ParameterName</td>
                    <td name ="ParameterValue">@parameter.ParameterValue</td>
                    <td name ="ParameterPrecision">@parameter.ParameterPrecision</td>
                    <td name ="ParameterScale">@parameter.ParameterScale</td>
                    <td name ="IsNegative">@parameter.IsNegative</td>
                    <td><a href="~/Home/Edit/@parameter.ParameterID" class="openDialog">Редактировать</a></td>
                    <td><a href="~/Home/EditValue/@parameter.ParameterID" class="openDialog">Изменить значение</a></td>
                    <td><a href="~/Home/Delete/@parameter.ParameterID">Удалить</a></td>
                </tr>
            }
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajaxSetup({ cache: false }); 
                $(".openDialog").on("click", function (e) {
                    e.preventDefault();
                    OpenDialog(this);
                });

                $(window).resize(function (event) {
                    if ($(".ui-dialog").length > 0) {
                        $('#masterDialog').dialog("widget").dialogCenter();
                    }
                });
                    
            });

            // ф-ция для центрирования диалога при изменении окна в гаджетах
            jQuery.fn.dialogCenter = function () {
                //this.css("position", "fixed");
                var y = ($(window).height() - this.outerHeight()) / 2;
                var x = ($(window).width() - this.outerWidth())/2;
                this.css("top", y + "px").css("left", x + "px");
                return this;
            }

            function OpenDialog(hr) {
                if ($('#masterDialog').length > 0)
                    $('#masterDialog').dialog("close");
                //alert($(hr).attr("href"));                
                $("<div id = 'masterDialog'></div>")
                    .addClass("dialog")                    
                    .appendTo("body")
                    .dialog({
                        autoOpen: false,
                        modal: true,
                        draggable: false,
                        resizable: false,
                        title: "Параметр",
                        close: function () {
                            $(this).remove();
                        }
                    }).load(hr.href, function (){
                        $(this).dialog("open"); // Открываем диалог только после загрузки формы, в пртивном случае не будет центрирования
                    });
            }
        </script>
    </body>
</html>

