@model IEnumerable<NotePlot.Models.ParameterGroup>

<p>
    <a asp-action="Create" class="openDialog" np_dialog_title="Группа параметров и пакетов">Create New</a>
</p>
@Html.AntiForgeryToken()
<table id="parameterGroups" class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParameterGroupID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParameterGroupShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParameterGroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterGroupShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ParameterGroupID }, new { @class = "openDialog" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ParameterGroupID }, new { @class = "np_deleteGroup" })
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#parameterGroups").DataTable();
            $(".np_deleteGroup").bind("click", np_AjaxPost);
        });       
        // AjaxPost - действие в href
        function np_AjaxPost(event) {
            event.preventDefault();
            var _token = $("[name='__RequestVerificationToken']").val();
            //var tokenField = $("input[type='hidden'][name$='RequestVerificationToken']");
            var _action = $(this).attr("href");
            np_AjaxBeforeSend();
            $.ajax({
                url: _action,
                type: 'POST',
                cache: false,
                async: false,
                data: { __RequestVerificationToken: _token }, 
                success: function (data) {
                    np_AjaxComplete(); 
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    np_AjaxComplete();
                    np_ShowMessage(jqXHR.responseText);
                }
            });
        };

        // простое сообщение, например об ошибке TODO: сделать полноправный диалог
        function np_ShowMessage(mes) {
            if ($('#np_MessageDialog').length > 0)
                $('#np_MessageDialog').dialog("close");
            $("<div id = 'np_MessageDialog'></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    autoOpen: true,
                    modal: true,
                    draggable: false,
                    resizable: false,
                    close: function () {
                        $(this).remove();
                    }
                }).append(mes);
        };

    </script>
}