@model NotePlot.Models.UserAccount

@{
    string atr_checked = "checked";
}

<div id="userAccountPanel" class="np-fVrtLayout">
    <form action="/Login/UserAccountEdit" method="POST" id="userAccountEdit" np_reload="true">
        @Html.AntiForgeryToken()
        <input type="hidden" id="LoginID" name="LoginID" value="@Model.LoginID" />
        <input type="hidden" id="Email" name="Email" value="@Model.Email" />
        <input type="hidden" id="IsConfirmed" name="IsConfirmed" value="@Model.IsConfirmed" />
        <p>
            <label for="LoginName">Имя учетной записи(логин)</label>
            <input class="ui-corner-all np-ui-input" type="text" id="LoginName" name="LoginName" value="@Model.LoginName" autocomplete="off" readonly />
        </p>
        <p><span>Тип учетной записи: </span><span>@Model.LoginRoleName</span></p>
        <p>
            <label for="Password">Пароль</label>
            <input class="ui-corner-all np-ui-input" type="password" id="Password" name="Password" value="@Model.Password" autocomplete="off" />
        </p>
        <p id="сonfirmPasswordPanel" class="row-form" hidden>
            <label for="ConfirmPassword">Подтвердить пароль</label>
            <input class="ui-corner-all np-ui-input" type="password" id="ConfirmPassword" name="ConfirmPassword" value="@Model.Password" autocomplete="off" />
        </p>
        <p>
            <label for="ScreenName" class="np_label">Псевдоним учетной записи</label>
            <input class="ui-corner-all np-ui-input" type="text" id="ScreenName" name="ScreenName" value="@Model.ScreenName" />
        </p>
        <p>
            <input type="checkbox" id="ShowScreenName" name="ShowScreenName" value="@Model.ShowScreenName" @if (@Model.ShowScreenName) { @atr_checked } /><span>Показывать псевдоним</span>
        </p>
        <div id="limits" hidden></div>
    </form>
    <div class="np-buttons">
        <button id="btnOk" class="np-left ui-button ui-corner-all">Да</button>
        <button id="btnCancel" class="np-right ui-button ui-corner-all">Отмена</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#btnOk').on('click', function (e) {
            e.preventDefault();
            $('#userAccountEdit').submit();
        });
        $('#btnCancel').on('click', function (e) {
            e.preventDefault();
            // Находим диалог и закрываем
            var _md = $('#userAccountPanel').parents('.dialog').first().attr('id');
            if (_md != undefined) {
                $('#' + _md).dialog("close");
            }
        });
        var adata = new Object();
        var np_formPanel = $('#userAccountPanel');
        //adata.actionPost = "/Login/UserAccountEdit/";
        adata.action = "";

        adata.token = $("[name='__RequestVerificationToken']").val();
        // Отображение ошибок
        adata.onError = function (ev, resp) { //jqXHR
            np_formPanel.after("<div class='errorForm'><span></span></div>");
            $('.errorForm span').html(resp);
        }
        adata.onSuccess = function (data) {
            var loc = "/Home/Index";
            location.reload();
            //window.location.replace(loc); // Перенаправление на список измерений + не сохраняем историю
            //$("#btnloginInput").trigger("click");
        }

        $("#userAccountEdit").bind('submit', adata, np_AjaxFormSubmit);

        // очистка сообщений об ошибках по клику
        $("#userAccountEdit input").bind('click', np_AjaxFormInputClick);
        $("#userAccountEdit")
            .validate({
                rules: {
                    Password: {
                        required: true,
                        minlength: 2
                    },
                    messages: {
                        Password: {
                            required: "Обязательно для заполнения",
                            minlength: "Не менее двух символов"
                        }
                    }
                }
            });

        $("#Password").on("input", function () {
            //$('#signPasswordPanel').animate({ height: 'show' }, 500);
            $('#сonfirmPasswordPanel').show().find("input").each(function (index, elem) {
                $(elem).rules("add", {
                    required: true,
                    minlength: 2,
                    messages: {
                        required: "Обязательно для заполнения",
                        minlength: "Не менее двух символов"
                    }
                })
            });

        });
        function np_AjaxOnSuccess(data) {
            alert('OK');
        };

        function passwordForget(event) {
            event.data.action = event.data.actionPost + $("#LoginName").val();
            np_AjaxPost(event);
        };

    });

</script>

