@model IEnumerable<NotePlot.Models.ParameterRelation>

@{
    string atr_disabled = "disabled";
}
@*<button id="np_relation_add"  href="/Parameter/ParameterListDialog" np_dialog_title = "Параметры" np_dialog_width ="800px">Добавить параметр</button>
    <button id="np_relation_del">Удалить параметр</button>*@
<span class="np-section">Параметры для расчета</span><i class="fa fa-info-circle" title="Параметры для расчета значения текущего параметра"></i>
@if (@ViewBag.LoginID != 0)
{
    <div class="np-tool-bar" style="min-width:24em">
        <button id="np_relation_add" class='ui-button ui-corner-all' href="/Parameter/ParameterListDialog" np_dialog_title="Параметры" np_dialog_width="800px" title="Добавить параметр"><i class="fa  fa-plus-circle"></i></button>
        <button id="np_relation_del" class='ui-button ui-corner-all np-btn-selected-row' @atr_disabled title="Удалить параметр"><i class="fa  fa-minus-circle"></i></button>
    </div>
}
<div style="max-width:37em;min-width:24em">
    <table id="parameterRelations" class="table cell-border">
        <thead>
            <tr>
                <th hidden>ParameterID</th>
                <th hidden>MathOperationID</th>
                <th>Параметр</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden><input type="text" id="ParameterID" name="ParameterID" value="@item.ParameterID" /></td>
                    <td hidden><input type="text" id="MathOperationID" name="MathOperationID" value="@item.MathOperationID" /></td>
                    <td>@item.ParameterShortName</td>
                    <td>@item.MathOperationFullName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $("#parameterRelations").DataTable({
        "autoWidth": false,
        "paging": false,
        "ordering": false,
        "oLanguage": { "sZeroRecords": "", "sEmptyTable": "" }, //убрать сообщение о пусто таблице
        "sDom": '',  // поиск
        "columns": [
                    { "visible": false },
                    { "visible": false },
                    { "width": "100%" },
                    { "width": "10em" }
                ]
    });
    $('#parameterRelations').on('page.dt order.dt search.dt', function () {
        $('#parameterRelations tbody tr.selected').removeClass('selected');
    });

    //$('#parameterGroups tbody tr').on('click', function () {
    $('#parameterRelations tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            disableButtons();
        }
        else {
            $('#parameterRelations tbody tr.selected').removeClass('selected');
            $(this).addClass('selected');
            enableButtons();
        }
    });

    $('#np_relation_add').on('click', function (e) {
        e.preventDefault();
        OpenDialog(this);
    });

    $('#np_relation_del').on('click', function (e) {
        e.preventDefault();
        //$('#parameterRelations tbody tr.selected').remove();
        var r = $('#parameterRelations tbody tr.selected');
        if (r.length > 0) {
            r.remove();
            disableButtons();
            if (refreshPage) {
                refreshPage();
            }
        }
    });

    //TODO: вынести в файл
    function enableButtons() {
        $('.np-btn-selected-row').each(function () {
            if ($(this).attr('disabled')) {
                $(this).removeAttr('disabled');
            }
        });
    }

    function disableButtons() {
        $('.np-btn-selected-row').each(function () {
            if (!$(this).attr('disabled')) {
                $(this).attr('disabled', 'disabled');
            }
        });
    }
</script>

