@model IEnumerable<NotePlot.Models.UnitCategory>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table id="unitgroups" class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UnitGroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitGroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitGroupShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitGroupCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitGroupShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitGroupCode)
            </td>
            <td>
                <a href="@Url.Action("Action", "Controller")" class="btn btn-warning">
                    link text
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.UnitGroupId }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.UnitGroupId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.UnitGroupId })
                @Html.ActionLink("Ред. диалог", "EditDialog", new { id = item.UnitGroupId }, new { @class = "openDialog" }) |
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#unitgroups").DataTable();
        });
    </script>
}