@model IEnumerable<NotePlot.Models.Unit>

<div class="np_toolbar">
    <a href="@Url.Action("Create", "Unit")" class="openDialog np_button blue" np_dialog_title="Единица измерения">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
@Html.AntiForgeryToken()
<table class="table" id="units" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th></th>
            <th>
                Группа
            </th>
            <th>
                Краткое название
            </th>
            <th>
                Полное название
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr np_unit_id=@item.UnitID np_login_id=@item.LoginID>
            <td hidden>@item.UnitID</td>
            <td>
                <div class="npRowTools" style="display:block">
                    <a href="@Url.Action("Edit", "Unit" , new { id=item.UnitID })" class="npRowEdit np_button" np_dialog_title="Ед.измерения">
                        <div class="icon"><i class="fa fa-pencil-alt"></i></div>
                    </a>
                @if (item.LoginID != 0)
                {
                    <a href="@Url.Action("Delete", "Unit", new { id = item.UnitID })" class="npRowDelete np_button" data-deleted-name="@item.UnitShortName">
                        <div class="icon"><i class="fa fa-times"></i></div>
                    </a>
                }
                </div>
            </td>
            <td>@item.UnitGroupShortName</td>
            <td class="ShortName">@item.UnitShortName</td>
            <td>@item.UnitName</td>
        </tr>
        }
    </tbody>
</table>
 @section scripts {
    <script type="text/javascript">
        table = $("#units").DataTable(
            {
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false
                    }
                ]
            }
        );
        // Выделение строк по клику
        table.on('click.select', 'tr', function () {
            table.$('tr.selected').not(this).removeClass('selected');//.find(".npRowTools").css("display", "none");
            if (!$(this).hasClass('selected')) {
                $(this).addClass('selected');//.find(".npRowTools").css("display", "block");;
            }
        });
        var adata = new Object();
        $(document).ready(function () {            
            // передаем token через объект события, если атрибут [ValidateAntiForgeryToken] указан в контроллере
            var _formatDialogMessage = 'Вы действительно хотите удалить единицу измерения?';
            adata.token = $("[name='__RequestVerificationToken']").val();
            adata.dialogTitle = 'Внимание!!';
            adata.dialogMessage = _formatDialogMessage;
            adata.onSuccess = function () {
                table.row('.selected').remove().draw(false);
            }

            // Редактирование по двойному клику
            table.on('dblclick', 'tr.selected', function () {
                $(this).find(".npRowEdit").trigger("click");
            });

            // События редактирования и удаления записи
            $("#units tbody").on("click", ".npRowEdit", function (e) {         // не зависит от DOM для DataTable
                e.preventDefault();
                OpenDialog(this);
            });
            // привязываем событие к Post Request с диалогом подтверждения
            $("#units tbody").on("click", ".npRowDelete", adata, np_DeletePost);  // не зависит от DOM для DataTable
            function np_DeletePost(event) {
                event.data.action = $(this).attr("href"); // указываем на конкретную кнопку, а не на первую в списке
                var _deleted_name = $(this).attr("data-deleted-name");
                if (_deleted_name) {
                    event.data.dialogMessage = _formatDialogMessage;
                    event.data.dialogMessage = event.data.dialogMessage.replace('?', ' "' + _deleted_name + '" ?');
                }
                np_MessageDialogPost(event);
            }
        });

        /*
        $('#units').on('draw.dt', function () {
            $(".openDialog").off("click").on("click", function (e) {
                e.preventDefault();
                OpenDialog(this);
            });
            $(".np_deleteUnit").off("click").bind("click", adata, np_DeletePost);       
        });
        */
            /*
            //более корректные метод, но в данном случае все элементы новые
            $(".openDialog").each(function () {
                if (!np_checkEvent($(this), 'click')) {
                    $(this).on("click", function (e) {
                        e.preventDefault();
                        OpenDialog(this);
                    });
                }
            });
            $(".np_deleteUnit").each(function () {
                    if (!np_checkEvent(this, 'click')) {
                        this.bind("click", adata, np_DeletePost);
                    }
                });
            */
     
    </script>
}
