@model NotePlot.Models.MonitoringFilter

@{
    System.Globalization.CultureInfo ruRU = new System.Globalization.CultureInfo("ru-RU");
}
<p>
    Измерения по шаблону: @Model.MonitorShortName
</p>
<p>
    <a href="@Url.Action("MonitorList", "Monitor")">Список шаблонов</a> -> <a href="@Url.Action("MonitoringList", "Monitoring" , new { id=Model.MonitorID })">@Model.MonitorShortName</a>
</p>
<p>
    Условия формирования списка измерений
</p>
@Html.AntiForgeryToken()
<div id="tabs" class="np-inputForm">
    <ul>
        <li><a href="#tabs_tops">Выбрать последние</a></li>
        <li><a href="#tabs_period">За период</a></li>
    </ul>
    <div id="tabs_tops" class="np-form-row np-clearfix">
        <p class="np-column-left">
            <input type="text" name="Tops" value="@Model.Tops" class="np-short-name ui-widget ui-widget-content ui-corner-all np-ui-input np-number-quant" maxlength="3">
        </p>
        <p class="np-column-left">
            <label>записей</label>
        </p>
    </div>
    <div id="tabs_period" class="np-form-row np-clearfix">
        <p class="np-column-left">
            <input type="text" name="DateFrom" class="ui-widget ui-widget-content ui-corner-all np-input-date np-date np-ui-input" value="@Model.DateFrom.ToString("d", ruRU)" readonly>
        </p>
        <p class="np-column-left">
            <input type="text" name="DateTo" class="ui-widget ui-widget-content ui-corner-all np-input-date np-date np-ui-input" value="@Model.DateTo.ToString("d", ruRU)" readonly>
        </p>
    </div>
    <button id="btn_select" class="ui-button ui-corner-all">Показать список</button>
</div>
<div class="np_toolbar">
    <a href="@Url.Action("MonitoringNew", "Monitoring",new { id = Model.MonitorID })" class="np_button blue">
        <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
</div>
<div id="monitoringList" data-np_monitorId="@Model.MonitorID">
    @await Component.InvokeAsync("MonitorMonitorings", new { MonitorID = Model.MonitorID, Tops = Model.Tops })
</div>
<script>
    $(function () {
        $("#tabs").tabs();
        //
        $("#monitorMonitoringList").DataTable();
        //
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $(".np-input-date").datepicker({
            dateFormat: "dd.mm.yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true
            //showOn: "both",
            //buttonImage: "calendar16.png",
            //buttonImageOnly: true,
            //buttonText: "выбрать дату"
        });
        //Перезагрузка списка
        $('#btn_select').on('click', function (e) {
            e.preventDefault();
            var data = $("#tabs input").serialize();
            var active = $("#tabs").tabs("option", "active");
            if (active == 0) {
                data += "&Mode=0";
            }
            else {
                data += "&Mode=1";
            };
            var mId = $('#monitoringList').attr('data-np_monitorId');
            data += "&MonitorID=" + mId;
            var data1 = '{"' + data.replaceAll('&', '","').replaceAll('=', '":"') + '"}';
            //alert(data1);
            var json = $.parseJSON(data1);
            $('#monitoringList').load('/Monitoring/MonitorMonitoringList', json);
        });
    });
</script>