@model IEnumerable<NotePlot.Models.MonitoringParameter>

@{
    Layout = null;
    int rowId = 0;
    string ParameterValue = "";
}
@{
    string atr_readonly = "readonly";
    string atr_np_dec_minus = "np_dec_minus";
    IEnumerable<NotePlot.Models.MonitoringParameter> Model1 = from item in Model
                                                              where item.ParameterTypeID != 2
                                                              select item;

    //IEnumerable<NotePlot.Models.MonitoringParameter> Model2 = from item in Model
    //                                                          where item.ParameterTypeID == 2
    //                                                          select item;
}

<table id="monitoringParameters"  class="np-param-values" cols="2">
    @*<thead>
        <tr>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th class="col1">Значение</th>
            <th class="col2">Ед.изм.</th>
            <th>Параметр</th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model1)
        {
            rowId++;
            ParameterValue = "ParameterValue" + rowId.ToString();
        <tr>
            <td hidden><input type="text" name="MonitoringParamID" value="@item.MonitoringParamID"></td>
            <td hidden><input type="text" name="MonitorParamID" value="@item.MonitorParamID"></td>
            <td hidden><input type="text" name="ParameterID" value="@item.ParameterID"></td>
            <td hidden><input type="text" name="ParameterTypeID" value="@item.ParameterTypeID"></td>
            @if (@item.ParameterTypeID == 0)
            {
            <td class="np-col1"><input type="text" class="ParameterValue ui-widget ui-widget-content ui-corner-all np-ui-input" name="@ParameterValue" value="@item.ParameterValue" np_dec_precision="@item.ParameterPrecision" np_dec_scale="@item.ParameterScale" data-min="@item.ParameterValueMin" data-max="@item.ParameterValueMax" @if (item.ParameterValueMin == null || item.ParameterValueMin < 0){ @atr_np_dec_minus}></td>
            }
            else
            {
            <td class="np-col1"><input type="text" class="ParameterValue ui-widget ui-widget-content ui-corner-all np-ui-input" name="@ParameterValue" value="@item.ParameterValue" np_dec_precision="28" np_dec_scale="6" data-min="" data-max="" @atr_readonly></td>
            }
            <td class="np-col2">
                <p>@item.ParameterShortName (@item.ParameterName), <span>Eд.изм.: </span>@item.ParameterUnitShortName</p>
                <p><span>Тип параметра: </span> @item.ParameterTypeName, <span>Тип значения: </span>@item.ParameterValueTypeShortName</p>
                @if (item.ParameterValueMin != null || item.ParameterValueMax != null)
                {
                <p>
                    @if (item.ParameterValueMin != null)
                    {
                        <span>Мин.значение: </span>@item.ParameterValueMin
                    }
                    @if (item.ParameterValueMin != null)
                    {
                        <span>Мaкс.значение: </span>@item.ParameterValueMax
                    }
                </p>
                }

            </td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#monitoringParameters input').npDecimalInput().npDecimalFormat();
    });
</script>

