@model IEnumerable<NotePlot.Models.MonitoringParameter>

@{
    Layout = null;
    int rowId = 0;
    string ParameterValue = "";
}
@{
    string atr_readonly = "readonly";
    string atr_np_dec_minus = "np_dec_minus";
    IEnumerable<NotePlot.Models.MonitoringParameter> Model1 = from item in Model
                                                              where item.ParameterTypeID != 2
                                                              select item;

    //IEnumerable<NotePlot.Models.MonitoringParameter> Model2 = from item in Model
    //                                                          where item.ParameterTypeID == 2
    //                                                          select item;
}

<table class="np-param-values" cols="2" id="monitoringParameters">
    @*<thead>
        <tr>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th class="col1">Значение</th>
            <th class="col2">Ед.изм.</th>
            <th>Параметр</th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model1)
        {
            rowId++;
            ParameterValue = "ParameterValue" + rowId.ToString();
        <tr>
            <td hidden><input type="text" name="MonitoringParamID" value="@item.MonitoringParamID"></td>
            <td hidden><input type="text" name="MonitorParamID" value="@item.MonitorParamID"></td>
            <td hidden><input type="text" name="ParameterID" value="@item.ParameterID"></td>
            <td hidden><input type="text" name="ParameterTypeID" value="@item.ParameterTypeID"></td>
            @if (@item.ParameterTypeID == 0)
            {
            <td><input type="text" class="ParameterValue ui-widget ui-widget-content ui-corner-all np-ui-input" name="@ParameterValue" value="@item.ParameterValue" np_dec_precision="@item.ParameterPrecision" np_dec_scale="@item.ParameterScale" data-min="@item.ParameterValueMin" data-max="@item.ParameterValueMax" @if (item.ParameterValueMin == null || item.ParameterValueMin < 0){ @atr_np_dec_minus}></td>
            }
            else
            {
            <td><input type="text" class="ParameterValue ui-widget ui-widget-content ui-corner-all np-ui-input" name="@ParameterValue" value="@item.ParameterValue" np_dec_precision="28" np_dec_scale="6" data-min="" data-max="" @atr_readonly></td>
            }
            <td>@item.ParameterShortName @item.ParameterUnitShortName</td>
            @*<td>@item.ParameterShortName</td>*@
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#monitoringParameters input').npDecimalInput().npDecimalFormat();
    });
</script>

