@model IEnumerable<NotePlot.Models.MonitoringParameter>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th hidden></th>
            <th hidden></th>
            <th hidden></th>
            <th>Значение параметра</th>
            <th>Ед.изм.</th>
            <th>Параметр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td hidden><input type="text" name="MonitoringID" value="@item.MonitoringID"></td>
            <td hidden><input type="text" name="MonitoringParamID" value="@item.MonitoringParamID"></td>
            <td hidden><input type="text" name="ParameterID" value="@item.ParameterID"></td>
            <td><input type="text" name="ParameterValue" value="@item.ParameterValue">
            <td>@item.ParameterUnitShortName</td>
            <td>@item.ParameterShortName</td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ParameterScale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterPrecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterValueMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterValueMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateUTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateUTC)
            </td>*@
        </tr>
        }
    </tbody>
</table>
